.App {
  max-width: 860px;
  margin: 40px auto;
}

button { 
  background: none;
  padding: 6px 12px;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  font-size: 1em;
}

.new_game_button {
  border: 2px solid #fff;
  border-radius: 4px;
}

button:hover {
  background: #c23866;
  color: #fff;
}

.card-grid {
  margin-top: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 20px;
}

.combined_button {
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  background: #f0f0f0;
  color: #333;
  flex: 1; 
}

.combined_button:first-child {
  border-right: 1px solid #ccc; 
  border-radius: 10px 0 0 10px; 
}

.combined_button:last-child {
  border-radius: 0 10px 10px 0; 
}

.button-container {
  display: flex;
  width: 200px;
  border: 1px solid #ccc;
  border-radius: 10px;
  overflow: hidden;
  position: absolute;
  top: 20px;
  right: 20px; 
  z-index: 1000;
  background: #fff; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
}
